<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GelecekBilimde.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA787C162316DCBA000AC250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA787C2D2316DCBB000AC250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA787C382316DCBC000AC250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
